<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url><loc>{{BASE_URL}}/</loc></url>
  <url><loc>{{BASE_URL}}/clothing.html</loc></url>
  <url><loc>{{BASE_URL}}/jackets.html</loc></url>
  <url><loc>{{BASE_URL}}/trousers.html</loc></url>
  <url><loc>{{BASE_URL}}/accessories.html</loc></url>
  <url><loc>{{BASE_URL}}/product.html?id=p1</loc></url>
  <url><loc>{{BASE_URL}}/product.html?id=p2</loc></url>
  <url><loc>{{BASE_URL}}/product.html?id=p3</loc></url>
  <url><loc>{{BASE_URL}}/product.html?id=p4</loc></url>
  <url><loc>{{BASE_URL}}/product.html?id=p5</loc></url>
  <url><loc>{{BASE_URL}}/product.html?id=p6</loc></url>
  <url><loc>{{BASE_URL}}/product.html?id=p7</loc></url>
  <url><loc>{{BASE_URL}}/product.html?id=p8</loc></url>
</urlset>
